.grid-design h2{
    color:coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornsilk;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}